<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página de Login</title>
<link rel="stylesheet" href="~/css/Login.css">
<div class="login-container">
    <h2>Login</h2>
    <form>
        <div class="input-container">
            <i class="fas fa-user"></i>
            <input type="text" id="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" id="senha" name="senha" placeholder="Senha" required>
        </div>

        <button type="submit">Entrar</button>

        <div class="forgot-password">
            <a href="#">Esqueceu a senha?</a>
        </div>
    </form>
</div>